.seccion_revistas{
    background-color: #26303C;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0%;
    padding-right: 0%;
}

.contenedor_titulo_seccion{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: center;
    width: 95%;
    height: auto;
}

.contenedor_tarjeta_revistas{
    gap: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    width: 95%;
    height: 230px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.contenedor_tarjeta_revistas_2{
    gap: 5%;
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    width: 95%;
    height: 230px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.tarjeta_revistas{
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    border: 2px solid #ffffff;
    height: 100%;
    width: 15%;
    cursor: pointer;
    animation: transicion_tarjeta_revistas 0.5s linear;
}

@keyframes transicion_tarjeta_revistas {
    0%{
        opacity: 0%;
    }

    100%{
        opacity: 100%;
    }
}

.contenedor_puntos{
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: transparent;
    gap: 1%;
}

.puntos{
    width: 13px;
    height: 13px;
    background-color: #dddddd;
    border-radius: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}





.texto_h3{
    color: #ffffff;
}





.imagen_revista{
    width: 90%;
    cursor: pointer;
}

.imagen_revista_100{
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}






@media screen and (min-width:1300px) and (max-width:1400px) and (min-height:0px) and (max-height:2700px){
    .contenedor_tarjeta_revistas{
        gap: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        width: 95%;
        height: 200px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    .contenedor_tarjeta_revistas_2{
        gap: 5%;
        display: none;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        width: 95%;
        height: 200px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

@media screen and (min-width:1200px) and (max-width:1299px) and (min-height:0px) and (max-height:2700px){
    .contenedor_tarjeta_revistas{
        gap: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        width: 95%;
        height: 200px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    .contenedor_tarjeta_revistas_2{
        gap: 5%;
        display: none;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        width: 95%;
        height: 200px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

@media screen and (min-width:1100px) and (max-width:1199px) and (min-height:0px) and (max-height:2700px){
    .contenedor_tarjeta_revistas{
        gap: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        width: 95%;
        height: 170px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    .contenedor_tarjeta_revistas_2{
        gap: 5%;
        display: none;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        width: 95%;
        height: 170px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

@media screen and (min-width:1000px) and (max-width:1099px) and (min-height:0px) and (max-height:2700px){
    .contenedor_tarjeta_revistas{
        gap: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        width: 95%;
        height: 170px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    .contenedor_tarjeta_revistas_2{
        gap: 5%;
        display: none;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        width: 95%;
        height: 170px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

@media screen and (min-width:900px) and (max-width:999px) and (min-height:0px) and (max-height:2700px){
    .contenedor_tarjeta_revistas{
        gap: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        width: 95%;
        height: 130px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    .contenedor_tarjeta_revistas_2{
        gap: 5%;
        display: none;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        width: 95%;
        height: 130px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

@media screen and (min-width:800px) and (max-width:899px) and (min-height:0px) and (max-height:2700px){
    .contenedor_tarjeta_revistas{
        gap: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        width: 95%;
        height: 130px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    .contenedor_tarjeta_revistas_2{
        gap: 5%;
        display: none;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        width: 95%;
        height: 130px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

@media screen and (min-width:700px) and (max-width:799px) and (min-height:0px) and (max-height:2700px){
    .contenedor_tarjeta_revistas{
        gap: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        width: 95%;
        height: 100px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    .contenedor_tarjeta_revistas_2{
        gap: 5%;
        display: none;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        width: 95%;
        height: 100px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

@media screen and (min-width:600px) and (max-width:699px) and (min-height:0px) and (max-height:2700px){
    .contenedor_tarjeta_revistas{
        gap: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        width: 95%;
        height: 90px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    .contenedor_tarjeta_revistas_2{
        gap: 5%;
        display: none;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        width: 95%;
        height: 90px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

@media screen and (min-width:500px) and (max-width:599px) and (min-height:0px) and (max-height:2700px){
    .contenedor_tarjeta_revistas{
        gap: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        width: 95%;
        height: 90px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    .contenedor_tarjeta_revistas_2{
        gap: 5%;
        display: none;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        width: 95%;
        height: 90px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

@media screen and (min-width:400px) and (max-width:499px) and (min-height:0px) and (max-height:2700px){
    .contenedor_tarjeta_revistas{
        gap: 2%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        width: 95%;
        height: 100px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    .contenedor_tarjeta_revistas_2{
        gap: 2%;
        display: none;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        width: 95%;
        height: 100px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .tarjeta_revistas{
        background-color: transparent;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        overflow: hidden;
        border: 2px solid #ffffff;
        height: 100%;
        width: 18%;
        cursor: pointer;
        animation: transicion_tarjeta_revistas 0.5s linear;
    }
}

@media screen and (min-width:300px) and (max-width:399px) and (min-height:0px) and (max-height:2700px){
    .contenedor_tarjeta_revistas{
        gap: 2%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        width: 95%;
        height: 80px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    .contenedor_tarjeta_revistas_2{
        gap: 2%;
        display: none;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        width: 95%;
        height: 80px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .tarjeta_revistas{
        background-color: transparent;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        overflow: hidden;
        border: 2px solid #ffffff;
        height: 100%;
        width: 18%;
        cursor: pointer;
        animation: transicion_tarjeta_revistas 0.5s linear;
    }
}